<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.message.dao.MsgModelMapper" >
  <resultMap id="BaseResultMap" type="com.message.model.MsgModel" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="MSG_TYPE" property="msgType" jdbcType="DECIMAL" />
    <result column="MSG_CODE" property="msgCode" jdbcType="VARCHAR" />
    <result column="MSG_NAME" property="msgName" jdbcType="VARCHAR" />
    <result column="SEND_MODE" property="sendMode" jdbcType="DECIMAL" />
    <result column="RECIPIENT_TYPE" property="recipientType" jdbcType="DECIMAL" />
    <result column="MSG_CONTENT" property="msgContent" jdbcType="VARCHAR" />
    <result column="OPT_TIME" property="optTime" jdbcType="DATE" />
    <result column="OPT_USER" property="optUser" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MSG_TYPE, MSG_CODE, MSG_NAME, SEND_MODE, RECIPIENT_TYPE, MSG_CONTENT, OPT_TIME, 
    OPT_USER, STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MSG_MODEL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MSG_MODEL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.message.model.MsgModel" useGeneratedKeys="true" keyProperty="id">
  	<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
		SELECT SEQ_MSG_MODEL.NEXTVAL FROM DUAL
	</selectKey>
    insert into MSG_MODEL (ID, MSG_TYPE, MSG_CODE, 
      MSG_NAME, SEND_MODE, RECIPIENT_TYPE, 
      MSG_CONTENT, OPT_TIME, OPT_USER, 
      STATE)
    values (#{id,jdbcType=DECIMAL}, #{msgType,jdbcType=DECIMAL}, #{msgCode,jdbcType=VARCHAR}, 
      #{msgName,jdbcType=VARCHAR}, #{sendMode,jdbcType=DECIMAL}, #{recipientType,jdbcType=DECIMAL}, 
      #{msgContent,jdbcType=VARCHAR}, #{optTime,jdbcType=DATE}, #{optUser,jdbcType=VARCHAR}, 
      #{state,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.message.model.MsgModel" >
  	<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
		SELECT SEQ_MSG_MODEL.NEXTVAL FROM DUAL
	</selectKey>
    insert into MSG_MODEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="msgType != null" >
        MSG_TYPE,
      </if>
      <if test="msgCode != null" >
        MSG_CODE,
      </if>
      <if test="msgName != null" >
        MSG_NAME,
      </if>
      <if test="sendMode != null" >
        SEND_MODE,
      </if>
      <if test="recipientType != null" >
        RECIPIENT_TYPE,
      </if>
      <if test="msgContent != null" >
        MSG_CONTENT,
      </if>
      <if test="optTime != null" >
        OPT_TIME,
      </if>
      <if test="optUser != null" >
        OPT_USER,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="msgType != null" >
        #{msgType,jdbcType=DECIMAL},
      </if>
      <if test="msgCode != null" >
        #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="msgName != null" >
        #{msgName,jdbcType=VARCHAR},
      </if>
      <if test="sendMode != null" >
        #{sendMode,jdbcType=DECIMAL},
      </if>
      <if test="recipientType != null" >
        #{recipientType,jdbcType=DECIMAL},
      </if>
      <if test="msgContent != null" >
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null" >
        #{optTime,jdbcType=DATE},
      </if>
      <if test="optUser != null" >
        #{optUser,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.message.model.MsgModel" >
    update MSG_MODEL
    <set >
      <if test="msgType != null" >
        MSG_TYPE = #{msgType,jdbcType=DECIMAL},
      </if>
      <if test="msgCode != null" >
        MSG_CODE = #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="msgName != null" >
        MSG_NAME = #{msgName,jdbcType=VARCHAR},
      </if>
      <if test="sendMode != null" >
        SEND_MODE = #{sendMode,jdbcType=DECIMAL},
      </if>
      <if test="recipientType != null" >
        RECIPIENT_TYPE = #{recipientType,jdbcType=DECIMAL},
      </if>
      <if test="msgContent != null" >
        MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null" >
        OPT_TIME = #{optTime,jdbcType=DATE},
      </if>
      <if test="optUser != null" >
        OPT_USER = #{optUser,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.message.model.MsgModel" >
    update MSG_MODEL
    set MSG_TYPE = #{msgType,jdbcType=DECIMAL},
      MSG_CODE = #{msgCode,jdbcType=VARCHAR},
      MSG_NAME = #{msgName,jdbcType=VARCHAR},
      SEND_MODE = #{sendMode,jdbcType=DECIMAL},
      RECIPIENT_TYPE = #{recipientType,jdbcType=DECIMAL},
      MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
      OPT_TIME = #{optTime,jdbcType=DATE},
      OPT_USER = #{optUser,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="selectValidMsgModel" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from MSG_MODEL
    where 1=1
      <if test="msgType != null" >
        and MSG_TYPE = #{msgType,jdbcType=DECIMAL}
      </if>
      <if test="msgCode != null" >
        and MSG_CODE = #{msgCode,jdbcType=VARCHAR}
      </if>
      <if test="msgName != null" >
        and MSG_NAME like #{msgName,jdbcType=VARCHAR}
      </if>
      <if test="sendMode != null" >
        and SEND_MODE = #{sendMode,jdbcType=DECIMAL}
      </if>
      <if test="recipientType != null" >
        and RECIPIENT_TYPE = #{recipientType,jdbcType=DECIMAL}
      </if>
      <if test="msgContent != null" >
        and MSG_CONTENT like #{msgContent,jdbcType=VARCHAR}
      </if>
      <if test="optUser != null" >
        and OPT_USER like #{optUser,jdbcType=VARCHAR}
      </if>
      <if test="state != null" >
        and STATE = #{state,jdbcType=DECIMAL}
      </if>
      <if test="state == null" >
        and STATE = 1
      </if>
    
  </select>
  
</mapper>